<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="quest" class="edu.buet.cse.spring.ch01.v3.impl.RescueDamselQuest">
    <constructor-arg value="#{T(System).out}"/>
  </bean>
  
  <bean id="minstrel" class="edu.buet.cse.spring.ch01.v3.impl.Minstrel">
    <constructor-arg value="#{T(System).out}"/>
  </bean>
  
  <bean id="knight" class="edu.buet.cse.spring.ch01.v3.impl.BraveKnight">
    <constructor-arg name="quest" ref="quest"/>
    <constructor-arg name="minstrel" ref="minstrel"/>
  </bean>
</beans>
